/* Tablet */
@media only screen and (min-width: 788px) and (max-width: 979px){
    /* Qualidade Home */
    .qualidade:after{
        right: 66px;
    }
    .qualidade-lista li{
        padding: 0 10px;
    }
    /* Footer */
    .footer_sociais ul li a{
        padding: 6px;
    }
    .footer_sociais ul li a img{
        width: 26px;
        height: 26px;
    }
    /* Produtos */
    .produto-item h2{
        top: -130px;
        margin-bottom: -60px;
    }
    .produto-icone{
        padding: 40px 0;
        height: 185px;
    }
    .produto-info p{
        font-size: 14px;
        line-height: 20px;
        padding: 15px 30px;
        height: 110px;
    }
    .produto-info ul li{
        line-height: 20px;
        width: 180px;
        height: 49px;
        padding-top: 16px;
    }
}
/* Smartphone */
@media only screen and (max-width: 787px){
    /* Header */
    .header{
        position: relative;
        padding-bottom: 0;
    }
    .header img{
        margin: 0 auto 10px auto;

    }
    .header_menu{
        text-align: center;
    }
    .header_menu ul li{
        margin: 5px;
    }
    .header_menu ul li a {
        width: 130px;
        display: block;
        border: 4px solid #000;
        float: left;
    }
    .header_menu ul li a:hover {
        border-color: #fff;
    }
    .header_menu ul li a.ativo{
        border-color: #fff;
      }
    /* Introdução */
    .introducao{
        margin-top: 0px;
        padding-top: 40px;
        text-align: center;
        background: url('../img/fotos/capa-home-mobile.jpg') no-repeat center;
        background-size: cover;
    }
    .introducao_interna{
        margin-top: 0px;
    }
    .introducao h1{
        font-size: 36px;
    }
    .introducao .btn{
        margin-top: 10px;
    }
    /* Call */
    .call{
        padding: 10px;
    }
    /* Qualidade Home */
    .qualidade:after{
        display: none;
    }
    /* Sobre */
    .missao_sobre p{
        font-size: 14px;
        line-height: 20px;
        padding-right: 0px;
    }
    .missao_sobre ul li{
        font-size: 14px;
        line-height: 25px;
    }
    /* Produtos */
    .produto-item h2{
        top: -90px;
        margin-bottom: -60px;
    }
    .produto-info p{
        font-size: 14px;
        line-height: 20px;
        padding: 15px 30px;
        height: auto;
    }
    .produto-info ul li{
        line-height: 20px;
        width: 149px;
        height: 49px;
        font-size: 14px;
        padding-top: 16px;
    }
    .form{
        padding-right: 0px;
    }
    .orcamento_dados ul{
        padding-right: 0px;
    }
}